.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  flex: 1;
}

.question {
  margin-top: 2rem;
  font-weight: bold;
}

.answer {
  font-size: 0.8rem;
}

.small {
  font-size: 0.6rem;
}
