.buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: center;
}

.scroll {
  overflow-y: scroll;
}

.large {
  font-size: 1.5rem;
}

.input {
  max-width: 230px;
  margin-bottom: 0 !important;
}
