.scroll {
  overflow-y: scroll;
}

.category-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.category-row:hover {
  background: var(--pico-text-selection-color);
  cursor: pointer;
  transition: 0.3s;
}

.flex {
  flex: 1;
}

.flex-container {
  display: flex;
  gap: 1rem;
}

.overview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.large {
  font-size: 1.5rem;
}

.small {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.dnd {
  margin-right: 0.5rem;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.delete {
  cursor: pointer;
}
