.margin-right {
  margin-right: 1rem;
}

.transaction-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
}

.flex {
  flex: 1;
}

.flex-container {
  display: flex;
  gap: 1rem;
}

.scroll {
  overflow-y: scroll;
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
