---
import Layout from "../layouts/Layout.astro";
---

<Layout title="lofextra - ups, not found">
  <section>
    <h1>sorry, there's nothing here!</h1>

    <h2>better luck next time</h2>

    <a href="/">
      <button>let's try again</button>
    </a>
  </section>
</Layout>

<style>
  section {
    text-align: center;
    margin-top: 3rem;
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--pico-h3-color);
  }
</style>
