---
import Layout from "../layouts/Layout.astro";
---

<Layout title="lofextra - local-first expense tracker">
  <section>
    <h1>lofextra (beta)</h1>

    <h2>local-first expense tracker</h2>

    <a href="/dashboard">
      <button>to app</button>
    </a>

    <ul>
      <li>retain full ownership of your data securely and privately</li>
      <li>real-time e2e encrypted updates between multiple devices</li>
      <li>use mnemonic phrase as key to your account</li>
      <li>no registration, no email, no password</li>
      <li>install the app to get the native app feel</li>
      <li>works offline</li>
    </ul>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }

  h2 {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: var(--pico-h3-color);
  }

  a {
    margin-bottom: 3rem;
  }
</style>
