.margin-right {
  margin-right: 1rem;
}

.transaction-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}

.transaction-row:hover {
  background: var(--pico-text-selection-color);
  cursor: pointer;
  transition: 0.3s;
}

.margin-bottom {
  margin-bottom: 0.2rem;
}

.small {
  font-size: 0.7rem;
}

.large {
  font-size: 1.5rem;
}

.flex {
  flex: 1;
}

.flex-container {
  display: flex;
  gap: 1rem;
}

.scroll {
  overflow-y: scroll;
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  cursor: pointer;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.header-margin-bottom {
  margin-bottom: 1rem;
}
