.body {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.main > h3 {
  margin-bottom: 3rem;
}

.main > a {
  margin-bottom: 3rem;
}

.footer {
  display: flex;
  justify-content: center;
}
