.section {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.full-menu {
  @media only screen and (max-width: 576px) {
    display: none;
  }
}

.sub-menu {
  @media only screen and (min-width: 576px) {
    display: none;
  }
}
